*{
    margin: 0;
    padding: 0;
}

#welcome-text{
    padding-top: 2%;
    color:yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
    text-align: center;
    -webkit-text-stroke: 3px rgb(255, 114, 6);
}

#buttons{
    font-size: 300%;
    color: rgb(255, 114, 6);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 200px;
}

#Fun-Facts{
    background-color:rgb(255, 255, 89);
    border:5px solid rgb(255, 114, 6);
    margin-bottom: 30px;
    max-width: 300px;
    margin-left: 40%;
}
#Threats{
    background-color:rgb(255, 255, 89);
    border:5px solid rgb(255, 114, 6);
    margin-bottom: 30px;
    max-width: 300px;
    margin-left: 40%;
}
#How-Help{
    background-color:rgb(255, 255, 89);
    border:5px solid rgb(255, 114, 6);
    max-width: 300px;
    margin-left: 40%;
}

body {
    background-image: url(https://h2.gifposter.com/bingImages/ManateeMom_EN-US9983570199_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color: black;
}